@tailwind base;
@tailwind components;
@tailwind utilities;

.app {
    background: linear-gradient(
        106.37deg,
        #c59cf1 29.63%,
        #c66ff8 51.55%,
        #dc3ff8 90.85%
    );

    font-family: "Inter", sans-serif;
}

.sidebar {
    height: 91vh;
    min-width: 150px;
}

.sidebarList {
    height: auto;
    padding: 0;
    width: 100%;
}

.sidebarList .row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: rgb(50, 39, 50);
    justify-content: center;
    align-items: center;
}

.sidebarList .row:hover {
    cursor: pointer;
    background-color: #bf91f1;
    border-radius: 1rem;
}

.sidebarList #active {
    background-color: #cfaaf7;
    border-radius: 1rem;
}

.row {
    display: flex;
}

.row #icon {
    flex: 30%;
    display: grid;
    place-items: center;
}
.row #title {
    flex: 70%;
}
.main-content-container {
    display: flex;
}
.main-content {
    padding: 10px;
    max-width: 1200px;
}

/* Caregivers page  */
.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.btn {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    border-bottom: 1px solid gray;
}

.caregiver-list {
    margin-top: 10px;
}

.caregiver-list div {
    margin-bottom: 10px;
}

